body {
      /*
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-size:cover;
      */
      font-family: 'Century Gothic';
      background-color: blue;
}
#main{
  margin:auto;
  left: 0px;
  right: 0px;
  color: white;
}
#menu{
  position: fixed;
  background-color: black;
  color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  right: 0px;
  left: 0px;
  top: 0px;

}
#menu a{
  color: white;
  text-decoration: none;
}
#menu a:visited{
  color: white;
}
#menu a:hover{
  color: grey;
}
#sign_menu{
  float: right;
}
#pages{
  float: left;
}
#content{
  width: 1000px;
  background: rgba(10,10,10, 0.85);
  margin-top: 30px;
  height: 200px;
}
#img_content{
  width: 1000px;
  background: rgba(10,10,10, 0.85);
  margin-top: 30px;
}
#img_content img{
  width: 800px;
}
#content h3{
  margin-top: 20px;x
}
#inf_table{
  background-color: grey;
  width: 300px;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}
#footer{
  position: fixed;
  background-color: black;
  color: white;
  bottom: 0px;
  text-align: center;
  margin-bottom: 0px;
  border-width: 3 px;
  border-style: solid;
  border-color: grey;
  right: 0px;
  left: 0px;
}
#footer a{
  color: white;
  text-decoration: none;
}
#footer a:visited{
  color: white;
}
#footer a:hover{
  color: grey;
}
#formex{
  float: right;
}
#formdel{
  float: left;
}
#editbut{
  background-color: grey;
  border-style: solid;

}
#editbut:hover{
  background-color: white;
  color: black;
  
}
#footer input{
  color: white;
  background-color: black;
  border-style: none;
  font-size: 110%;
}
#footer input:hover{
  background-color: grey;
}

